{{ define "main" }}
  <div class="container" role="main">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
        <ul class="posts-list">
          {{ range .Paginator.Pages }}
            {{ with .Params }}
            <li>
                {{ default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format }}.
                <a href="{{ $.Site.LanguagePrefix | absURL }}/speakers/{{ .speakers | urlize }}/">{{ (index $.Site.Taxonomies.speakers .speakers).Page.Params.name | safeHTML }}.</a>
                <em>
                    {{ if ne .archive nil }}
                        <a href="{{ .archive | absURL }}">
                    {{ else if ne .zoom nil }}
                        <a href="{{ .zoom | absURL }}">
                    {{ end }}
                    {{ .title | safeHTML }}.
                    {{ if or (ne .archive nil) (ne .zoom nil) }}</a>{{ end }}
                </em>
            </li>
            {{ end }}
          {{ end }}
        </ul>
        <!-- {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }} -->
      </div>
    </div>
  </div>
{{ end }}
